/* Container geral */
.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  overflow-x: auto; /* Torna a tabela responsiva */
}

/* Tabela */
table.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 2px;
}

/* Centraliza o título */
.container h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #daf1f1;
}

table.table th{
  text-align: center;
  padding: 12px 16px;
  border: 1px solid #ddd;
}

table.table td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: left;
}
